body {
  margin: 0;
  background-color: #ecf0f1;
}

.navbar {
  position: sticky;
  top: 0;
  display: block;
  background-color: #2c3e50;
  text-align: center;
  z-index: 1000;
}
#left {
  margin-right: 35%;
}
.row {
  display: inline-block;
}
.color {
  padding: 2rem;
  color: white;
}

#left {
  /* border: 2px solid black; */
  color: #2980b9;
}

.h {
  position: absolute;
  /* border: 2px solid black; */
  margin-left: 33%;
  margin-top: 3%;
}

.g {
  position: absolute;
  /* border: 2px solid black; */
  margin-left: 33%;
  margin-top: 10%;
  padding: 1%;
  background-color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li::before {
  content: "✅ ";
  color: green;
}
/* li {
  font-size: 14px;
} */

.a {
  position: absolute;
  /* border: 2px solid black; */
  margin-left: 33%;
  margin-top: 20%;
  padding: 1%;
  background-color: white;
  width: 34.5%;
}

.j {
  position: absolute;
  /* border: 2px solid black; */
  margin-left: 33%;
  margin-top: 33.5%;
  padding: 1%;
  background-color: white;
  width: 34.5%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px; /* אותו ערך כמו ה-padding */
}
